/* wrapper styles */
.aj-toaster {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 320px;
  display: flex;
  justify-content: center;
}

/* overrides */
.aj-toaster ul,
.aj-toaster ul li {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

.aj-toaster p, .aj-toaster .copy,
.aj-toaster h1, .aj-toaster .title1,
.aj-toaster h2, .aj-toaster .title2 {
  padding: 0;
  margin: 0;
}

/* TODO: add customizable themes; */
.toaster__items.--default-theme {}
.toaster__items.--simple-theme {}

/* common styles. */
.--default-theme .--success,
.--default-theme .--warning,
.--default-theme .--info,
.--default-theme .--failure {
  display: flex;
  box-sizing: border-box;
  min-width: 310px;
  max-width: 310px;
  border-radius: 3px;
  margin: 5px 0;
  font-family: sans-serif;
  color: #fff;
}

/* types */
.--default-theme .--success {
  background: #41d888;
}
.--default-theme .--warning {
  background: #ffbd02;
}
.--default-theme .--info {
  background: #0387d7;
}
.--default-theme .--failure {
  background: #f94416;
}

/* toast layout and structure styles */
.--default-theme .toast-icon {
  flex: 0 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 14px;
}
.--default-theme .toast-content {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 37px;
  padding: 8px 0 8px 16px;
}


.--default-theme .toast-content__title {
  font-weight: 400;
  font-size: 14px;
}

.--default-theme .toast-content__body {
  font-weight: 100;
  font-size: 12px;
}

.--default-theme .toast-dismiss {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.--default-theme .toast-dismiss button {
  border: none;
  color: rgba(255, 255, 255, 0.81);
  font-size: 20px;
  margin: 0;
  line-height: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  border-left: 0;
  margin-left: 5px;
  flex: 1;
}

.--default-theme .toast-dismiss button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.07);
}

.--default-theme .toast-dismiss button,
.--default-theme .toast-dismiss button:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.--default-theme .toast-dismiss button,
.--default-theme .toast-dismiss button:hover {
  transition: background-color 200ms ease-in-out;
}

.--default-theme .toast-dismiss button:focus {
  outline: 0;
}

/* animation definitions */
.--default-theme .--toast-item-enter-active,
.--default-theme .--toast-item-exit-active {
  transition: opacity 300ms ease-in-out 0s,
              transform 300ms ease-in-out 50ms,
              max-height 600ms ease-in-out 0s;
}
.--default-theme .--toast-item-enter {
  opacity: 0;
  transform: scale(1.1);
  max-height: 0;
}
.--default-theme .--toast-item-enter-active {
  opacity: 1;
  transform: scale(1);
  max-height: 300px;
}
.--default-theme .--toast-item-exit {
  opacity: 1;
}
.--default-theme .--toast-item-exit-active {
  opacity: 0;
  transform: scale(1.1);
}
