.aj-toaster {
  /* defaults */
  --aj-toaster__success: #41d888;
  --aj-toaster__warning: #ffbd02;
  --aj-toaster__info: #0387d7;
  --aj-toaster__failure: #f94416;

  --aj-toaster__success-text: #fff;
  --aj-toaster__warning-text: #fff;
  --aj-toaster__info-text: #fff;
  --aj-toaster__failure-text: #fff;

  --aj-toaster__width: 310px;
  /* --- */
  width: var(--aj-toaster__width);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 5;
  top: 5px;
  right: 5px;
}

/* TODO: add customizable themes; */
.aj-toaster.--theme1 {}
.aj-toaster.--theme2 {
  --aj-toaster__success: #ccf8e4;
  --aj-toaster__failure: #ffe2df;
  --aj-toaster__info: #c8ecff;
  --aj-toaster__warning: #fff3a5;

  --aj-toaster__success-text: #5fd296;
  --aj-toaster__warning-text: #f7a255;
  --aj-toaster__info-text: #2cbff2;
  --aj-toaster__failure-text: #f56565;

  --aj-toaster__width: 400px;
}
.aj-toaster.--theme2 {
  width: var(--aj-toaster__width);
}

.aj-toaster__items .--success,
.aj-toaster__items .--warning,
.aj-toaster__items .--info,
.aj-toaster__items .--failure {
  min-width: var(--aj-toaster__width);
  max-width: var(--aj-toaster__width);
  display: flex;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: sans-serif;
}

.aj-toaster__items .--success {
  background: var(--aj-toaster__success);
}
.aj-toaster__items .--warning {
  background: var(--aj-toaster__warning);
}
.aj-toaster__items .--info {
  background: var(--aj-toaster__info);
}
.aj-toaster__items .--failure {
  background: var(--aj-toaster__failure);
}

.aj-toaster__items .--success p {
  color: var(--aj-toaster__success-text);
}
.aj-toaster__items .--warning p {
  color: var(--aj-toaster__warning-text);
}
.aj-toaster__items .--info p {
  color: var(--aj-toaster__info-text);
}
.aj-toaster__items .--failure p {
  color: var(--aj-toaster__failure-text);
}

.aj-toaster__content {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 8px 8px 16px;
  min-height: 30px;
}

.aj-toaster__title,
.aj-toaster__message {
  margin: 0;
  padding: 0;
}
.aj-toaster__title {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 3px;
}
.aj-toaster__message {
  font-weight: 100;
  font-size: 12px;
}

.aj-toaster__dismiss {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.aj-toaster__dismiss button {
  flex: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: none;
  color: rgba(255, 255, 255, 0.81);
  line-height: 0;
  font-size: 20px;
  margin: 0;
  padding: 0 5px 0 5px;
}
.aj-toaster__dismiss button,
.aj-toaster__dismiss button:hover {
  transition: background-color 200ms ease-in-out;
}
.aj-toaster__dismiss button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.07);
}
.aj-toaster__dismiss button,
.aj-toaster__dismiss button:active {
  background-color: rgba(0, 0, 0, 0.08);
}
.aj-toaster__dismiss button:focus {
  outline: 0;
}

/* animations */
.aj-toaster__items .--toast-item-enter-active,
.aj-toaster__items .--toast-item-exit-active {
  transition: opacity 300ms ease-in-out 0s,
              transform 300ms ease-in-out 0s,
              max-height 1.2s ease-in-out 0s;
}
.aj-toaster__items .--toast-item-enter {
  opacity: 0;
  transform: scale(1.1);
  max-height: 0;
}
.aj-toaster__items .--toast-item-enter-active {
  opacity: 1;
  transform: scale(1);
  max-height: 100vh;
}
.aj-toaster__items .--toast-item-exit {
  opacity: 1;
}
.aj-toaster__items .--toast-item-exit-active {
  opacity: 0;
  transform: scale(1.1);
}
